<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let episode of episodes" >
        <div class="card">
            <div class="image">
                
            </div>
            <div class="card-inner">
                <div class="header">
                    <h2>Nombre: {{ episode.name | slice:0:12 }}</h2>
                    <h4>Fecha de emisión: {{ episode.air_date }}</h4>
                    <h4>
                      Temporada: {{ episode.episode.slice(1, 3) }} 
                      Episodio: {{ episode.episode.slice(4) }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-dark">

</button>