<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let episode of episodes" >
        <div class="card">
            <div class="image">
                
            </div>
            <div class="card-inner">
                <div class="header">
                    <a>
                        <h2>{{ episode.name | slice:0:12 }}</h2>
                    </a>
                    <h4> EPISODE: {{ episode.episode }}
                    </h4>
                </div>
            </div>
        </div>



    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound">
        
        <p>no se encontraron resultados!</p>
    </div>
</div>
<button class="btn btn-dark">

</button>